@media (max-width: 575px) {
	// @screen-xs
	.ant-btn:has(.span-extend) {
		width: 32px;
		height: 32px;
		padding: 2.4px 0;
		font-size: 16px;
		vertical-align: -3px;

		.span-extend {
			display: none;
		}
	}
}
