.loading-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	// min-height: 100vh;
	margin-top: 32px;

	h2 {
		margin: 20px 10px 0;
	}

	h3 {
		display: block;
		margin: 10px;
		text-align: center;
	}

	.loading-description {
		margin-bottom: 12px;
	}

	.loading-actions {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}
}

/* HTML: <div class="loader"></div> */
.progress-loader {
	width: 120px;
	height: 14px;
	border-radius: 12px;
	color: var(--color-primary);
	border: 2px solid;
	position: relative;
}

.progress-loader::before {
	content: '';
	position: absolute;
	margin: 2px;
	inset: 0 100% 0 0;
	border-radius: inherit;
	background: currentColor;
	animation: l6 2.5s infinite;
}

@keyframes l6 {
	100% {
		inset: 0;
	}
}

/* HTML: <div class="loader"></div> */
.circle-loader {
	width: 50px;
	aspect-ratio: 1;
	--c: no-repeat radial-gradient(farthest-side, var(--color-primary) 60%, #0000);
	background:
		var(--c) 50% 0,
		var(--c) 50% 100%,
		var(--c) 100% 50%,
		var(--c) 0 50%;
	background-size: 10px 10px;
	animation:
		l18 1s infinite,
		l181 0.2s;
	position: relative;
}

.circle-loader::before {
	content: '';
	position: absolute;
	inset: 0;
	margin: 3px;
	background: repeating-conic-gradient(#0000 0 35deg, var(--color-primary) 0 90deg);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
	border-radius: 50%;
}

@keyframes l18 {
	100% {
		transform: rotate(0.5turn);
	}
}

@keyframes l181 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
